<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="#homepage">
                <img src="path/to/logo.png" class="logo" alt="SpaceBar Logo">
            </a>

        </div>
        <div class="content">
            <em {{ date|date('d/m/y h:m:s') }}></em>
            <h1 class="text-center">Nice to meet you {{ name }}</h1>
            <p class="block">
                <strong>{{ description}}</strong>

            </p>
        </div>
    </div>
</div>
</body>
</html>