{% extends 'base.html.twig' %}

{% block title %}restaurant{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('/frontoffice/css/listing.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}


        <main style="margin-top: 100px">
            <div class="page_header element_to_stick">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-7 col-md-7 d-none d-md-block">
                            <h1>145 restaurants in Convent Street 2983</h1>
                            <a href="#0">Change address</a>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-md-5">
                            <div class="search_bar_list">
                                <input type="text" class="form-control" placeholder="Dishes, restaurants or cuisines">
                                <button type="submit"><i class="icon_search"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
            </div>
            <!-- /page_header -->

            <div class="collapse" id="collapseMap">
                <div id="map" class="map"></div>
            </div>
            <!-- /Map -->

            <div class="container margin_30_20">
                <div class="row">
                    <aside class="col-lg-3" id="sidebar_fixed">
                        <a class="btn_map d-flex align-items-center justify-content-center" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" ><span class="btn_map_txt" data-text-swap="Hide Map" data-text-original="View on Map">View on Map</span></a>
                        <div class="type_delivery">
                            <ul class="clearfix">
                                <li>
                                    <label class="container_radio">Delivery
                                        <input type="radio" name="type_d" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="container_radio">Take away
                                        <input type="radio" name="type_d">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <!-- /type_delivery -->

                        <a class="btn_map mobile btn_filters" data-toggle="collapse" href="#collapseMap"><i class="icon_pin_alt"></i></a>
                        <a href="#0" class="open_filters btn_filters"><i class="icon_adjust-vert"></i><span>Filters</span></a>

                        <div class="filter_col">
                            <div class="inner_bt clearfix">Filters<a href="#" class="open_filters"><i class="icon_close"></i></a></div>
                            <div class="filter_type">
                                <h4><a href="#filter_1" data-toggle="collapse" class="opened">Sort</a></h4>
                                <div class="collapse show" id="filter_1">
                                    <ul>
                                        <li>
                                            <label class="container_radio">Top Rated
                                                <input type="radio" name="filter_sort" checked="">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_radio">Reccomended
                                                <input type="radio" name="filter_sort">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_radio">Price: low to high
                                                <input type="radio" name="filter_sort">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_radio">Up to 15% off
                                                <input type="radio" name="filter_sort">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_radio">All Offers
                                                <input type="radio" name="filter_sort">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_radio">Distance
                                                <input type="radio" name="filter_sort">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /filter_type -->
                            <div class="filter_type">
                                <h4><a href="#filter_2" data-toggle="collapse" class="closed">Categories</a></h4>
                                <div class="collapse" id="filter_2">
                                    <ul>
                                        <li>
                                            <label class="container_check">Pizza - Italian <small>12</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_check">Japanese - Sushi <small>24</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_check">Burghers <small>23</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_check">Vegetarian <small>11</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_check">Bakery <small>18</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_check">Chinese <small>12</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_check">Mexican <small>15</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /filter_type -->
                            <div class="filter_type">
                                <h4><a href="#filter_3" data-toggle="collapse" class="closed">Distance</a></h4>
                                <div class="collapse" id="filter_3">
                                    <div class="distance"> Radius around selected destination <span></span> km</div>
                                    <div class="add_bottom_25"><input type="range" min="10" max="50" step="5" value="20" data-orientation="horizontal"></div>
                                </div>
                            </div>
                            <!-- /filter_type -->
                            <div class="filter_type last">
                                <h4><a href="#filter_4" data-toggle="collapse" class="closed">Rating</a></h4>
                                <div class="collapse" id="filter_4">
                                    <ul>
                                        <li>
                                            <label class="container_check">Superb 9+ <small>06</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_check">Very Good 8+ <small>12</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_check">Good 7+ <small>17</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="container_check">Pleasant 6+ <small>43</small>
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /filter_type -->
                            <p><a href="#0" class="btn_1 outline full-width">Filter</a></p>
                        </div>
                    </aside>

                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-12">
                                <h2 class="title_small">Produits</h2>
                                <div class="owl-carousel owl-theme categories_carousel_in listing">

                                        <div class="item">
                                            <figure>
                                                <img src=" " data-src="{" alt="" >
                                                <a href="#0"><h3></h3></a>
                                            </figure>
                                        </div>


                                </div>
                                <!-- /carousel -->
                            </div>
                        </div>
                        <!-- /row -->

                        <div class="promo">
                            <h3>Free Delivery for your first 14 days!</h3>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                            <i class="icon-food_icon_delivery"></i>
                        </div>
                        <!-- /promo -->

                        <div class="row">
                            <div class="col-12"><h2 class="title_small">Restaurants Partenaires</h2></div>

                                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                                        <div class="strip">
                                            <figure>
                                                <span class="ribbon off">15% off</span>
                                                <img src="" data-src="" class="img-fluid lazy" alt="">
                                                <a href="" class="strip_info">
                                                    <small></small>
                                                    <div class="item_title">
                                                        <h3></h3>
                                                        <small></small>
                                                    </div>
                                                </a>
                                            </figure>

                                        </div>
                                    </div>


                        </div>
                        <!-- /row -->
                        <div class="pagination_fg">
                            <a href="#">&laquo;</a>
                            <a href="#" class="active">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">&raquo;</a>
                        </div>
                    </div>
                    <!-- /col -->
                </div>
            </div>
            <!-- /container -->

        </main>
        <!-- /main -->
    {% endblock %}
